<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
   <div class="row">
     <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
       <div class="card">
         <div class="card-header">
            <h4>Login</h4>
           <div class="social-btns">
             <button md-icon-button><i class="fa fa-facebook-square"></i></button>
             <button md-icon-button><i class="fa fa-twitter"></i></button>
             <button md-icon-button><i class="fa fa-google-plus"></i></button>
           </div>
         </div>
         <p class="tip">Or Be Classical</p>
         <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
           <div class="card-form">
               <div class="form-row" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                 <i class="material-icons">email</i>
                 <md-input-container color="accent">
                   <input type="text" mdInput name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required/>
                   <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                 </md-input-container>
               </div>
               <div class="form-row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                 <i class="material-icons">lock_outline</i>
                 <md-input-container color="accent">
                   <input type="password" mdInput name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
                   <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                 </md-input-container>
               </div>
           </div>
           <div class="card-footer">
               <button md-button [disabled]="loading">LET'S GO</button>
           </div>
           <div *ngIf="error" class="alert alert-danger">erreur: {{error}}</div>
         </form>
       </div>
     </div>
   </div>
  </div>
</div>
